.pagination {
  &__list {
    display: flex;
  }

  &__button {
    --paginationButtonSize: 24px;

    @include reset-button;
    @include flex-center;
    @include square(var(--paginationButtonSize));

    color: var(--color-light);

    @include hover {
      color: var(--color-accent);
    }

    &.is-current {
      color: var(--color-accent);
    }

    &.swiper-pagination-bullet {
      @include flex-center;
      margin: 0;
      opacity: 1;
      background: none;
      width: var(--paginationButtonSize);
      height: var(--paginationButtonSize);

      &.swiper-pagination-bullet-active {
        color: var(--color-accent);
      }
    }
  }
}
