.review-card {
  --reviewCardCornerWidth: 40px;
  --reviewCardCornerOffsetLeft: 52px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  @include mobile {
    --reviewCardCornerWidth: 32px;
    --reviewCardCornerOffsetLeft: 46px;
    row-gap: 40px;
  }

  &__body {
    position: relative;
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-large);
    padding: 48px var(--reviewCardCornerOffsetLeft) 52px;

    @include mobile {
      @include fluid-text(18, 14);

      padding: 30px;
      line-height: 1.4;
      border-radius: calc(var(--border-radius-large) - 2%);
    }

    &::after {
      @include square(var(--reviewCardCornerWidth));
      content: "";
      position: absolute;
      top: 100%;
      left: 50px;
      border: inherit;
      background-color: var(--color-dark);
      rotate: 45deg;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      translate: 0 -50%;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    padding-left: calc(
      var(--reviewCardCornerOffsetLeft) + var(--reviewCardCornerWidth) / 2
    );

    @include mobile {
      padding-left: calc(
        var(--reviewCardCornerOffsetLeft) + var(--reviewCardCornerWidth) - 20%
      );
    }
  }

  &__name,
  &__company {
    font-style: normal;
  }

  &__name {
    color: var(--color-accent);
  }
}
