.reviews {
  padding-top: 84px;
  padding-bottom: 54px;
  display: flex;
  flex-direction: column;
  row-gap: 110px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  overflow: hidden;

  @include tablet {
    padding: 28px 28px 40px;
    row-gap: 35px;
  }

  &__slider {
    --reviewsSliderSlideWidth: 606px;


    @include tablet {
      --reviewsSliderSlideWidth: 330px;
    }
    @include mobile {
      --reviewsSliderSlideWidth: 100%;
    }
    &-item {
      min-width: var(--reviewsSliderSlideWidth);
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 564px;
    margin-inline: auto;
  }
  &__arrow-button {
    @include flex-center;
    @include reset-button;
    @include square(48px);

    color: var(--color-light);
    cursor: pointer;

    @include hover {
      color: var(--color-accent);
    }

    svg {
      @include square(20px);
    }
  }
}
